{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        {% if user.is_authenticated %}
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-preview">
                <div>
                    <strong style="color: red;">
                        WARNING: You Can't Edit A Reservation The Day Off, At That Point You Can Only Reschedule The
                        Date
                    </strong>
                </div>
                <h2 class="post-title">
                    Dates you can't make a Reservation:
                </h2>
                <div class="container">
                    <div class="row">
                        {% for i in reservations %}
                        <div class="col">
                            <div class="card" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">{{ i.date_of_reservation }}</h5>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <h2 class="post-title">
                    Edit A Reservation
                </h2>
                <div class="container">
                    <div class="row">
                        <form method="POST">
                            {% csrf_token %}
                            <div>
                                Time: {{ form.time }}
                            </div>
                            <div>
                                Date: {{ form.date_of_reservation }}
                            </div>
                            <div>
                                Guests: {{ form.number_of_guests }}
                            </div>
                            <div>
                                Reservation Under: {{ form.reservation_under }}
                            </div>
                            <div>
                                <p>
                                    <button type="submit" class="btn btn-success">Update Reservation</button>
                                </p>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-preview">
                <h2 class="post-title">
                    Please Login Or Register for An Account
                </h2>
            </div>
        </div>
        {% endif %}

    </div>
</div>

{%endblock%}