{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

            <div class="post-preview">
                <h2 class="post-title">
                    Our Menu Highlights
                </h2>
            </div>
            <hr>

            <div class="row featurette">
                <div class="col-md-7">
                    <h3>Cold Beetroot Soup</h3>
                    <p>Essentially a cold Lithuanian borscht, its a fantastic and iconic soup, especially
                        on warm day. It's very popular in Lithuania. It s sometimes made with kefir instead of yogurt,
                        sour cream, and/or buttermilk. The Soup is great for digestive health. Also, the beets are
                        really the only ingredient that's cooked. Serve with potatoes or bread.</p>

                </div>
                <div class="col-md-5">
                    <img src="../static/img/beet_root_soup.jpeg" alt="">
                </div>
            </div>
            <hr>
            <div class="row featurette">
                <div class="col-md-7">
                    <h3>Cepelinai</h3>
                    <p>Dumplings made from grated and riced potatoes and stuffed with ground meat or dry curd cheese
                        or mushrooms. It has been described as a national dish of Lithuania, and is typically served as
                        a main dish.</p>

                </div>
                <div class="col-md-5">
                    <img src="../static/img/dumplings.jpeg" alt="">
                </div>
            </div>
            <hr>
            <div class="row featurette">
                <div class="col-md-7">
                    <h3>Plov</h3>
                    <p>Plov is the national dish of Uzbekistan.Over fifty versions of the recipe exist, some of them
                        even 10 centuries old, but to make the best-known version, the first step is to make a base
                        consisting of seasoned carrots, onions, and meat sautéed in fat.</p>

                </div>
                <div class="col-md-5">
                    <img src="../static/img/plovas.jpeg" alt="">
                </div>
            </div>
            <hr>
            <div class="row featurette">
                <div class="col-md-7">
                    <h3>Salmon</h3>
                    <p> Popular to serve as a main dish, Salmon provides a tender, flaky-textured meat with a mild to
                        rich flavor, depending on the species. It is a fish that is rich in omega-3 fatty acids, which
                        help to bad cholesterol. Salmon can be prepared in most any manner, such as smoked,
                        baked, broiled, grilled, fried, or poached.</p>

                </div>
                <div class="col-md-5">
                    <img src="../static/img/salmon.jpeg" alt="">
                </div>
            </div>
            <hr>
            <div class="row featurette">
                <div class="col-md-7">
                    <h3>Filipino-style Kebabs</h3>
                    <p>Filipino Pork Barbecue made of pork slices marinated in a sweet BBQ sauce and skewered in bamboo
                        sticks. Sweet, salty, and slightly spicy, these Filipino-style kebabs are seriously addictive!
                    </p>

                </div>
                <div class="col-md-5">
                    <img src="../static/img/saslykas.jpeg" alt="">
                </div>
            </div>
            <hr>

            <div class="post-preview">
                <h2 class="post-title">
                    Why Choose Us?
                </h2>
                <ul>
                    <li>Fast Service Time</li>
                    <li>Friendly Wait Staff</li>
                    <li>Home Made Ingredients</li>
                    <li>A Stellar View</li>
                </ul>
            </div>

        </div>
    </div>

    {%endblock%}