{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        {% if user.is_authenticated %}
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-preview">
                <div>
                    <strong style="color: red;">
                        WARNING: You Can't Edit A Reservation The Day Off, At That Point You Can Only Reschedule The
                        Date
                    </strong>
                </div>
                <h2 class="post-title">
                    Your Reservations:
                </h2>
                <div class="container">
                    <div class="row">
                        {% for i in reservations %}
                        {% if user == i.created_by %}
                        <div class="col">
                            <div class="card" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">Reservation on {{ i.date_of_reservation }}, {{ i.time }}
                                        Local Time</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">{{ i.reservation_under }}</h6>
                                    <p class="card-text">Number of Guests: {{ i.number_of_guests }}</p>
                                    <a href="/edit_reservation/{{ i.id }}" class="card-link">Edit</a>
                                    <a href="/delete_reservation/{{ i.id }}" class="card-link">Delete</a>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-preview">
                <h2 class="post-title">
                    Please Login Or Register for An Account
                </h2>
            </div>
        </div>
        {% endif %}

    </div>
</div>
{%endblock%}